<!doctype html>
<html>
<title>Securifi Login Form </title>
<link rel="stylesheet" href="stylesheet.css">
<body>
<h2> Securifi Login Form </h2>
 <form class="login-form" method="post" action="">
                <label for="email">Email: </label>
                <input type="email" id="email" name="email"  />
                <br/>
                <br/>
                
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" />
                <br/>
                <br/>
                
                <input type="submit" value="confirm" />
                <input type="reset" value="Cancel"/>
</body>
</html>
